 #linkSHE {
  border-color: #39007a;
  font-size: 50px;
  color: green;
  font-weight: bolder;
  text-decoration: none;
}

body, .AllText {
  background-color: #e2b7ff;
  text-align: center;
  font-size: 20px;
  color: black;
  font-family:sans-serif;
  line-height: 1.8;
  font-weight: 300;
}

#nov20, #april11, #may22, #march16, #june23, #jan3 {
  font-size: 25px;
}

.button {
    background-color: #5a1ea8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #985edb;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #440191;
}
